/*General-Styling*/

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: "raleway";
  font-weight: 700;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  color: var(--primary-color-one);
}

:root {
  --primary-color-one: hsl(243, 87%, 12%);
  --primary-color-two: hsl(238, 22%, 44%);
  --accent-color-one: hsl(224, 93%, 58%);
  --accent-color-two: hsl(170, 45%, 43%);
  --neutral-color-one: hsl(240, 75%, 98%);
  --neutral-color-two: hsl(0, 0%, 75%);
}

/*Specific-Styling*/

.logo {
  height: 200px;
  width: 200px;
  margin: auto;
  margin-left: 1px;
}

.flex-header {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  list-style-type: none;
}

.Button-started {
  background-color: var(--accent-color-one);
  color: white;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-family: inherit;
  border: none;
  border-radius: 5px;
}

.Acces {
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 2rem;
  background-color: var(--primary-color-two);
  gap: 5rem;
}

.input2 {
  padding-right: 10rem;
  padding-top: 0.5rem;
}

.button2 {
  margin-top: 0.4rem;
  background-color: var(--accent-color-one);
  color: white;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-family: inherit;
  border: none;
  border-radius: 5px;
}

.Fylo-link:hover {
  color: var(--accent-color-two);
}

.container-pic-one {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pic-one {
  background: url(illustration-1.svg);
  width: 500px;
  height: 370px;
  background-size: 100%;
  margin-right: 4rem;
}

.container-pic-two {
  display: flex;
  align-items: ;
  justify-content: space-between;
  background-color: var(--neutral-color-one);
}

.pic-two {
  background: url(illustration-2.svg);
  width: 500px;
  height: 370px;
  background-size: 100%;
  margin-right: 4rem;
}

.wave {
  background: url(bg-curve-desktop.svg);
  width: 1440px;
  height: 100px;
}

/* Footer Styling */

.flex-footer {
  color: white;
  display: flex;
  gap: 20rem;
  justify-content: flex start;
  list-style-type: none;
  line-height: 2rem;
}
.footer {
  padding: 2rem;
  background-color: var(--primary-color-one);
  color: white;
}

.logo-footer {
  margin-left: 2.5rem;
  background-image: url(logo.svg);
  filter: invert(100%);
  background-size: cover;
  width: 210px;
  height: 60px;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.phone {
  width: 200px;
}

.phone::before {
  content: url(icon-phone.svg) " ";
}

.mail::before {
  content: url(icon-email.svg) " ";
}

.footer-list {
  list-style-type: none;
}

.social-media {
  margin-left: auto;
  margin-right: 50rem;
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.twitter {
  background-image: url(https://img.icons8.com/android/24/000000/twitter.png);
  filter: invert(100%);
  width: 30px;
  height: 30px;
  background-size: 100%;
}

.fb {
  background-image: url(https://img.icons8.com/small/16/000000/facebook-new.png);
  filter: invert(100%);
  width: 30px;
  height: 30px;
  background-size: cover;
}

.insta {
  background-image: url(https://img.icons8.com/windows/32/000000/instagram-new.png);
  filter: invert(100%);
  width: 30px;
  height: 30px;
  background-size: cover;
}

.input {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin-right: 1rem;
}
