/*General-Styling*/

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: "raleway";
  font-weight: 700;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  color: var(--primary-color-one);
}

:root {
  --primary-color-one: hsl(243, 87%, 12%);
  --primary-color-two: hsl(238, 22%, 44%);
  --accent-color-one: hsl(224, 93%, 58%);
  --accent-color-two: hsl(170, 45%, 43%);
  --neutral-color-one: hsl(240, 75%, 98%);
  --neutral-color-two: hsl(0, 0%, 75%);
}

/*Specific-Styling*/

.logo {
  height: 200px;
  width: 200px;
  margin: auto;
  margin-left: 1px;
}

.flex-header {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  list-style-type: none;
}

.flex-footer {
  margin-top: 5rem;
  display: flex;
  gap: 9rem;
}

.input {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin-right: 1rem;
}

.Button-started {
  background-color: var(--accent-color-one);
  color: white;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-family: inherit;
  border: none;
  border-radius: 5px;
}

.Acces {
  color: white;
}

.container {
  display: flex;
  align-items: baseline;
  padding: 2rem;
  background-color: var(--primary-color-two);
  gap: 5rem;
}

.input2 {
  padding-right: 10rem;
  padding-top: 0.5rem;
}

.button2 {
  margin-top: 0.4rem;
  background-color: var(--accent-color-one);
  color: white;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-family: inherit;
  border: none;
  border-radius: 5px;
}
