/*General-Styling*/

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: "raleway";
  font-weight: 700;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  color: var(--primary-color-one);
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}

:root {
  --primary-color-one: hsl(243, 87%, 12%);
  --primary-color-two: hsl(238, 22%, 44%);
  --accent-color-one: hsl(224, 93%, 58%);
  --accent-color-two: hsl(170, 45%, 43%);
  --neutral-color-one: hsl(240, 75%, 98%);
  --neutral-color-two: hsl(0, 0%, 75%);
}

/*Specific-Styling*/

/* Top Bar */

.logo {
  height: 200px;
  width: 200px;
  margin: auto;
  margin-left: 1px;
}

.flex-header {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  list-style-type: none;
  margin-right: 7rem;
  max-width: 1440px;
}

/* Upper Area */

.container-pic-one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  max-width: 1440px;
}

.pic-one {
  background: url(illustrations/illustration-1.svg);
  width: 500px;
  height: 370px;
  background-size: 100%;
  margin-right: 4rem;
}

.container-pic-two {
  display: flex;
  justify-content: space-between;
  background-color: var(--neutral-color-one);
  padding: 2rem;
  max-width: 1440px;
}

.input-wrapper {
  position: relative;
}

.description {
  position: absolute;
  left: 10px;
  top: 30px;
  color: rgb(165, 165, 165);
}

.input {
  width: 300px;
  margin-right: 1rem;
  font-size: 1rem;
  padding-inline: 0.1rem;
  padding-block: 0.8rem;
  margin-block: 0.2rem;
}

input:focus + .description,
.text-input:not(:placeholder-shown) + .description {
  font-size: 0.8rem;
  top: 1px;
}

.Button-started {
  background-color: var(--accent-color-one);
  color: white;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  font-family: inherit;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  margin-block: 1rem;
}

.Button-started:hover {
  background-color: var(--accent-color-two);
  cursor: pointer;
}

/* Middle Area */

.pic-two {
  background: url(illustrations/illustration-2.svg);
  width: 500px;
  height: 370px;
  background-size: 100%;
  margin-right: 4rem;
}

.founder-pic {
  background-image: url(illustrations/Avatar-testimonial.jpg);
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.founder-text {
  margin-left: 70px;
  width: 300px;
  line-height: 0.5rem;
}

.quote-item {
  background-image: url(illustrations/icon-quotes.svg);
  width: 15px;
  height: 15px;
  background-size: cover;
}

.quote-container {
  background-color: white;
  width: 400px;
  padding: 2rem;
  margin: 2rem;
  border-radius: 0.8rem;
  box-shadow: 10px 14px rgba(223, 222, 222, 0.521);
}

.Fylo-link:hover {
  color: var(--accent-color-two);
}

.Fylo-link::after {
  content: url(illustrations/icon-arrow.svg);
  width: 10px;
  height: 10px;
  margin-left: 0.5rem;
}

.wave {
  background: url(illustrations/bg-curve-desktop.svg);

  width: 1440px;
  height: 100px;
}

/* Lower Area */

.container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 2rem;
  background-color: var(--primary-color-two);
  gap: 5rem;
  max-width: 1440px;
}

.Acces {
  color: white;
}

.input2 {
  padding-right: 10rem;
  padding-top: 0.5rem;
}

.button2 {
  margin-top: 0.4rem;
  background-color: var(--accent-color-one);
  color: white;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  font-family: inherit;
  border: none;
  border-radius: 5px;
}

.button2:hover {
  background-color: var(--accent-color-two);
  cursor: pointer;
}

/* Footer Styling */

.flex-footer {
  color: white;
  display: flex;
  gap: 10%;
  justify-content: flex start;
  list-style-type: none;
  line-height: 2rem;
}
.footer {
  padding: 2rem;
  background-color: var(--primary-color-one);
  color: white;
  max-width: 1440px;
}

.logo-footer {
  margin-left: 2.5rem;
  background-image: url(illustrations/logo.svg);
  filter: invert(100%);
  background-size: cover;
  width: 210px;
  height: 60px;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.footer-list1 {
  list-style-type: none;
}

.phone {
  width: 200px;
}

.phone::before {
  content: url(illustrations/icon-phone.svg) " ";
}

.mail::before {
  content: url(illustrations/icon-email.svg) " ";
}

.footer-list {
  list-style-type: none;
}

.social-media {
  margin-left: auto;
  margin-right: 50rem;
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.social {
  filter: invert(100%);
  width: 30px;
  height: 30px;
  background-size: cover;
}

.social:hover {
  filter: invert(50%);
  cursor: pointer;
}

.twitter {
  background-image: url(https://img.icons8.com/android/24/000000/twitter.png);
}

.fb {
  background-image: url(https://img.icons8.com/small/16/000000/facebook-new.png);
}

.insta {
  background-image: url(https://img.icons8.com/windows/32/000000/instagram-new.png);
}

/* Responsive Design */

@media screen and (max-width: 775px) {
  .container-pic-two,
  .container-pic-one {
    display: flex;
    flex-direction: column-reverse;
  }
  .container,
  .flex-footer {
    display: flex;
    flex-direction: column;
  }

  :root {
    text-align: center;
  }

  .phone {
    width: 100%;
  }

  .social-media {
    margin-inline: auto;
  }

  .input-wrapper {
    display: flex;
    flex-direction: column;
  }
}
